{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bills</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.png' %}"/>
</head>
<body>
    <div>
    <h2>Bill list</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Waiter</th>
                <th>Client</th>
                <th>Order</th>

            </tr>
            </thead>
            <tbody>
            {% for item in bill_list %}
                <tr>
                    <th>{{ item.id_bill }}</th>
                    <th>{{ item.date }}</th>
                    <th>{{ item.waiter }}</th>
                    <th>{{ item.client }}</th>
                    <th><a class="btn"
                           href="{% url 'bill-update' item.pk %}"
                           role="button">Update</a></th>
                    <th><a class="btn"
                           href="{% url 'bill-delete' item.pk %}"
                           role="button">Delete</a></th>
                    <th><a class="btn"
                           href="{% url 'bill-detail' item.pk %}"
                           role="button">Details</a></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
<div>
    <a class="btn" href="{% url 'bill-create' %}">New Bill</a>
</div>
</body>
</html>