<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill Detail</title>
</head>
<div>
    <div>
        <h2>Detail Bill</h2>
    </div>
</div>
<div>
    <form method="post" novalidate>
        {% csrf_token %}
        <p>About bill</p>
        <p>{{ bill_detail }} </p>
        <p>{{ bill_detail.date }}</p>
        <p>{{ bill_detail.waiter }}</p>
        <p>{{ bill_detail.client }}</p>
        <p>{{ bill_detail.table }}</p>
        <h3>Orders</h3>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Cant.</th>
                    <th>Product Name</th>
                    <th>Unit Cost</th>
                    <th>Delete Order</th>
                </tr>
                </thead>
                <tbody>
                {% for order in bill_detail.orders.reverse %}
                    <tr>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.product }}</td>
                        <td>{{ order.product.cost }}</td>
                        <td><a class="btn"
                               href="{% url 'order-delete' order.id_order %}"
                               role="button">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{% url 'bills-list' %}" class="btn btn-default">Cancel</a>
    </form>
    <a class="btn" href="{% url 'bill-create' %}" role="button">New Bill</a>
    <a class="btn" href="{% url 'bills-list' %}" role="button">Return to list</a>

</div>
<body>

</body>
</html>