<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Bill</title>
</head>
<body>
<div>
    <h2>Create Bill</h2>
    <form method="post">
        {% csrf_token %}
        <p>Waiter {{ form.waiter }} </p>
        <p>Client {{ form.client }} <a class="btn"
                               href="{% url 'client-create' %}"
                               role="button">+</a></p>
        <p>Table {{ form.table }}</p>
    <input type="submit" value="Create Bill">
</form>
    <div>
        <a class="btn" href="{% url 'bill-create' %}" role="button">Return</a>
    </div>
</div>

</body>
</html>