<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div>
    <div>
        <h2>Delete Bill</h2>
    </div>
</div>
<div>
    <form method="post" novalidate>
        {% csrf_token %}
        <p>Are you sure you want to delete bill?</p>
        <p>{{ bill_delete }} </p>
        <p>{{ bill_delete.date }}</p>
        <p>{{ bill_delete.waiter }}</p>
        <p>{{ bill_delete.client }}</p>
        <p>{{ bill_delete.table }}</p>
        <h3>Orders</h3>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Cant.</th>
                    <th>Product Name</th>
                    <th>Unit Cost</th>
                    <th>Delete Order</th>
                </tr>
                </thead>
                <tbody>
                {% for order in bill_delete.orders.reverse %}
                    <tr>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.product }}</td>
                        <td>{{ order.product.cost }}</td>
                        <td><a class="btn"
                               href="{% url 'order-delete' order.id_order %}"
                               role="button">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <input type="submit" value="Delete" href="{% url 'bills-list' %}">
        <a href="{% url 'bills-list' %}" class="btn btn-default">Cancel</a>
    </form>
    <a class="btn" href="{% url 'bill-create' %}" role="button">New Bill</a>
    <a class="btn" href="{% url 'bills-list' %}" role="button">Return to list</a>

</div>
</body>
</html>