<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Bill</title>
</head>
<body>
<div>
    <h2>Update Bill</h2>
    <form method="post">
        {% csrf_token %}
        <p>Waiter: {{ form.waiter }}</p>
        <p>Client: {{ form.client }} <a class="btn"
                                        href="{% url 'client-create' %}"
                                        role="button">+</a></p>
        <p>Table: {{ form.table }}</p>
        <p>Close bill?: {{ form.close_bill }}</p>
        <h3>Orders</h3>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Cant.</th>
                    <th>Product Name</th>
                    <th>Unit Cost</th>
                    <th>Update Order</th>
                </tr>
                </thead>
                <tbody>
                {% for order in bill_update.orders.reverse %}
                    <tr>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.product }}</td>
                        <td>{{ order.product.cost }}</td>
                        <td><a class="btn"
                               href="{% url 'order-update' order.id_order %}"
                               role="button">update</a>
                            </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    <input type="submit" value="Update Bill" href="{% url 'bill-list' %}">
</form>
    <div>
        <p><a class="btn" href="{% url 'order-create' %}" role="button">Add Order</a></p>
        <a class="btn" href="{% url 'bill-create' %}" role="button">New Bill</a>
        <a class="btn" href="{% url 'bills-list' %}" role="button">Return</a>
    </div>
</div>

</body>
</html>