{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.png' %}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block sidebar %}
 <div class="sidebar" style="width:25%">
  <a href="#" class="">Link 1</a>
     <ul>
         <li>algo</li>
         <li>otro</li>
     </ul>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div style="margin-left:25%">
... page content ...
</div>
{% endblock %}
</body>
</html>