<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Create Product" href="{% url 'list' %}" >
</form>
    <div>
        <a class="btn" href="{% url 'list' %}" role="button">Return</a>
    </div>
</div>

</body>
</html>