<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div>
    <div>
    <h2>{{ msg }}</h2>
    </div>
</div>
<div>
    <form method="post" novalidate>
        {% csrf_token %}
        <p>Are you sure you want to delete post?</p>
        <p>{{ product_delete.product_name }}</p>
        <p>{{ product_delete.cost }}</p>
        <p>{{ product_delete.stock }}</p>
        <p>{{ product_delete.category }}</p>
            <input type="submit" value="Delete" href="{% url 'list' %}">
            <a href="{% url 'list' %}" class="btn btn-default" >Cancel</a>
    </form>
    <a class="btn" href="{% url 'create' %}" role="button">New product</a>
    <a class="btn" href="{% url 'list' %}" role="button">Return to list</a>
</div>
</body>
</html>