<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div>
    <div>
    <h2>Product list</h2>
        <table>
            <thead>
            <tr>
                <th>Name Product</th>
                <th>Cost$</th>
                <th>Stock</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            {% for item in product_list %}
                <tr>
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.cost }}</td>
                    <td>{{ item.stock }}</td>
                    <td>{{ item.category }}</td>
                    <td><a class="btn"
                           href="{% url 'update' item.pk %}"
                           role="button">Update</a></td>
                    <td><a class="btn"
                           href="{% url 'delete' item.pk %}"
                           role="button">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div>
    <a class="btn" href="{% url 'create' %}" role="button">New product</a>
</div>
</body>
</html>