<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New order</title>
</head>
<body>
<div>
    <form method="post">
        {% csrf_token %}
        <p>Product: {{ form.product }}</p>
        <p>Quantity: {{ form.quantity }}</p>
        <p>Bill: {{ form.bill_id }} <a class="btn"
                                       href="{% url 'bill-create' %}"
                                       role="button">+</a></p>
    <input type="submit" value="Create Product" href="{% url 'orders-list' %}">
</form>
    <div>
        <a class="btn" href="{% url 'orders-list' %}" role="button">Return</a>
    </div>
</div>

</body>
</html>