<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div>
    <div>
    <h2>{{ msg }}</h2>
    </div>
</div>
<div>
    <form method="post" novalidate>
        {% csrf_token %}
        <p>Are you sure you want to delete post?</p>
        <p>{{ order_delete.id_order}}</p>
        <p>{{ order_delete.product }}</p>
        <p>{{ order_delete.quantity }}</p>
        <p>{{ order_delete.bill_id }}</p>
            <input type="submit" value="Delete Order" href="{% url 'orders-list' %}">
            <a href="{% url 'orders-list' %}" class="btn btn-default" >Cancel</a>
    </form>
    <a class="btn" href="{% url 'order-create' %}" role="button">New Order</a>
    <a class="btn" href="{% url 'orders-list' %}" role="button">Return to list</a>
</div>
</body>
</html>