<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Bill</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <th>{{ order.product }}</th>
                <th>{{ order.quantity }}</th>
                <th>{{ order.bill_id }}</th>
                <th><a class="btn"
                       href="{% url 'order-update' order.pk %}"
                       role="button">Update</a></th>
                <th><a class="btn"
                       href="{% url 'order-delete' order.pk %}"
                       role="button">Delete</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <a class="btn" href="{% url 'order-create' %}" role="button">Create New Order</a>
</div>

</body>
</html>