<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Update Product" href="{% url 'order-list' %}">
    <a href="{% url 'orders-list' %}" class="btn btn-default" >Cancel</a>
</form>
    <div>
        <a class="btn" href="{% url 'orders-list' %}" role="button">Return</a>
        <a href="{% url 'order-create' %}" class="btn btn-default" >New Order</a>
    </div>
</div>

</body>
</html>