<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create client</title>
</head>
<body>
<div>
    <form method="post">
        {% csrf_token %}
        <p>First name: {{ form.name }}</p>
        <p>Last name: {{ form.last_name }}</p>
        <p>Way to Pay: {{ form.pay_way }}</p>
        <p>observations {{ form.observations }}</p>
    <input type="submit" value="Create Client" href="{% url 'bill-create' %}">
</form>
    <div>
        <a class="btn" href="{% url 'order-list' %}" role="button">Return</a>
    </div>
</div>

</body>
</html>